In [87]:
import numpy as np
import pandas as pd

In [88]:
df=pd.read_csv("spam - spam.csv",encoding="latin-1")
df.shape

(5572, 5)

In [89]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will ï¿½_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [90]:
# drop unnecessary values
df.drop(columns={'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'},inplace=True,axis=1)

In [91]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham            Will ï¿½_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [92]:
df.groupby("v1").describe()

        v2
     count unique                                                top freq
v1
ham   4825   4516                             Sorry, I'll call later   30
spam   747    647  Please call our customer service representativ...    4

In [93]:
df=df.rename(columns={"v1":"Target","v2":"Text"})#or inplace=2

In [94]:
df

     Target                                               Text
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham            Will ï¿½_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [95]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df["Target"]=le.fit_transform(df["Target"])

In [96]:
df

      Target                                               Text
0          0  Go until jurong point, crazy.. Available only ...
1          0                      Ok lar... Joking wif u oni...
2          1  Free entry in 2 a wkly comp to win FA Cup fina...
3          0  U dun say so early hor... U c already then say...
4          0  Nah I don't think he goes to usf, he lives aro...
...      ...                                                ...
5567       1  This is the 2nd time we have tried 2 contact u...
5568       0            Will ï¿½_ b going to esplanade fr home?
5569       0  Pity, * was in mood for that. So...any other s...
5570       0  The guy did some bitching but I acted like i'd...
5571       0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [97]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.Text,df.Target)

In [98]:
x_train.describe()

count                       4179
unique                      3915
top       Sorry, I'll call later
freq                          24
Name: Text, dtype: object

In [99]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x_train_v=cv.fit_transform(x_train.values)
x_train_v.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [100]:
# training model 
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_v,y_train)

MultinomialNB()

In [101]:
eg=["how are you"]
eg_v=cv.transform(eg)

In [102]:
model.predict(eg_v)

array([0])

In [103]:
# testing model and evaluating accuracy
x_test_v=cv.transform(x_test)
model.score(x_test_v,y_test)

0.9870782483847811